/* Step 1: set body text, h1-h6 and address color, style */
body { color: brown }
h1, h2, h3, h4, h5, h6 {font-family: sans-serif; color: orange}
address {color: orange; font-style: normal; font-variant: small-caps; text-align: center;}

/* Step 2: set picture to the right, float links to left, move body left with 70% */
#head {text-align: right}

#links {float: left; width:150px;background-color: orange; margin-right: 10px;}

#links a {font-family: sans-serif; color: white; font-size: 9pt }

#main {width: 70%; float: left}

/* Step 3: fix box and address */
address {clear: both;}

#box {float:right; width: 200px; background-color: pink; margin:5px 0px 5px 5px; padding: 10px}

/* Step 4: group and format links */
#links a {display:block}
#links a.newGroup {margin-top: 15px}

#links {border: 2px solid black; padding: 10px;}

/* step 5: add borders to major blocks */

address {border-top: 1px solid orange}
#head {border-bottom: 1px solid orange}
#main {border-left: 1px solid orange; padding-left: 10px}

#box { border: 5px outset orange}
#box ul {list-style-type: circle; margin-left: 20px; padding-left: 0px}

/* step 6: add link styles */
#links a:link {text-decoration:none}
#links a:hover {color:black; text-decoration: underline}

/* step 7: add fancy text format */
#firstp:first-line {font-variant: small-caps}
#firstp:first-letter {float: left; font-size: 400%; line-height: 0.8}